
.button-burger{
        display: none;
}

@media(max-width: $mobile-width-only){
.button-burger__span{
        position: absolute;
        top: 26px;
        left: 19px;
        width: 25px;
        height: 4px;
        background-color: #ffffff;
    }
}

