.our-working{
    padding: 30px 0 0 0;
    background-color: $main-color;

    @media (min-width: $tablet-width){
        padding: 50px 0 0 0;
    }
    
    @media (min-width: $desktop-width-1000px){
        padding: 45px 0 0 0;
    }

    @media (min-width: $desktop-width-1920px){
      padding: 80px 380px 0 380px;
    } 
}

.our-working__title{
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;

    @media (min-width: $mobile-width){
        font-size: 30px;
        line-height: 35px;
    }

    @media (min-width: $tablet-width){
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 42px;
    } 
 
    @media (min-width: $desktop-width-1920px){
        margin-bottom: 60px;
        font-size: 48px;
        line-height: 56px;
    } 
}

.our-working__list{
    @include list-style-reset;

    @media (min-width: $mobile-width){
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media (min-width: $tablet-width){
        justify-content: space-between;
    }  
}

.our-working__item{
    position: relative;
    z-index: 100;
    padding-top: 148px;

    @media (min-width: $mobile-width){
        flex: 1 1 50%;
        padding-top: 176px;
    }

    @media (min-width: $tablet-width){
        flex: 1 1 33.33%;
        padding-top: 186px;
    }

    
    @media (min-width: $desktop-width-1000px){
        padding-top: 216px;
    } 

    @media (min-width: $desktop-width-1920px){
        padding-top: 224px;
    }

    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 138px;
        height: 138px;
        background-color: $link-statistics-color;
        background-repeat: no-repeat;
        background-size: 138px 138px;
        border-radius: 50%;

        @media (min-width: $mobile-width){
            width: 166px;
            height: 166px;
            background-size: 166px 166px;
        }

        @media (min-width: $desktop-width-1000px){
            width: 191px;
            height: 192px;
            background-size: 191px 192px;
        } 
    
        @media (min-width: $desktop-width-1920px){
            width: 208px;
            height: 208px;
            background-size: 208px 208px;
        } 
    }

    &--consultation{

        &::before{
            background-image: url("../img/icon/consultation@1x.png");

            @media(min-resolution: $retina-dpi),(min-resolution: $retina-dppx) {
                background-image: url("../img/icon/consultation@2x.png"); 
            }
        }    
    }

    &--enrollment{
        
        &::before{
            background-image: url("../img/icon/enrollment@1x.png");

            @media(min-resolution: $retina-dpi),(min-resolution: $retina-dppx) {
                background-image: url("../img/icon/enrollment@2x.png"); 
            }
        }
    }

    &--start{

        &::before{
            background-image: url("../img/icon/start@1x.png");

            @media(min-resolution: $retina-dpi),(min-resolution: $retina-dppx) {
                background-image: url("../img/icon/start@2x.png"); 
            }
        }
    }
}

.our-working__item:not(:last-child){
    margin-bottom: 20px;

    @media (min-width: $mobile-width){
        margin-bottom: 25px;
    }

    &::after{
        @media (min-width: $tablet-width){
            content: "";
            position: absolute;
            z-index: 100;
            left: 95%;
            top: 40%;
            width: 40px;
            height: 3px;
            background-color: white;
        }

        @media (min-width: $desktop-width-1000px){
            width: 69px;
        } 
    }
}

.our-working__item:nth-child(3n){
    
    &::after{
        @media(min-width: $tablet-width){
            @include visually-hidden;
        }
    }  
}

.our-working__text{
    font-weight: 500;
    text-align: center;

    @media (min-width: $mobile-width){
        font-size: 20px;
        line-height: 23px;
    }

    @media (min-width: $desktop-width-1000px){
        font-size: 24px;
        line-height: 28px;
    } 
}

.our-working__text span{
    display: none;

    @media (min-width: $desktop-width-1000px){
        display: block;
    }
}