//Activated slider--NoJS if JavaScript disabled!!!!!!!!!!!!!!!! 

.slider.slider--NoJS{
    display: block;
}

.slider__wrapper.slider__wrapper--NoJS{
    display: flex;
    flex-direction: column;

    @media(min-width:$mobile-width){
        padding: 0 20px;
    }

    @media(min-width:$tablet-width){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -25px;
        margin-bottom: -30px;
    }
}

.slider__item.slider__item--NoJS{
    flex-shrink: 1;
    margin-bottom: 30px;

    @media(min-width:$tablet-width){
      flex: 0 0 306px;
      height: auto;
      margin-right: 30px;
      margin-bottom: 30px;
    }
}