@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("/fonts/#{$file_name}.woff2") format("woff2"), url("/fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@mixin list-style-reset {  //@include list-style-reset;
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin fontGuerrila($font-size, $line-height){
   font-family: "Guerilla", "Arial", sans-serif;
   font-size: $font-size;
   font-style: normal;
   font-weight: normal;
   line-height: $line-height;
   color: #FFFFFF;  
}

@mixin fontRoughDraftCY($font-size, $line-height){
    font-family: "RoughDraftCY", "Arial", sans-serif;
    font-size: $font-size;
    line-height: $line-height;
    font-style: normal;
    color: #FFFFFF;  
}

@mixin visually-hidden { //@include visually-hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*@mixin image($width, $height, $url) {  //@include image;
    width: $width;
    height: $height;
    background-size: $width $height;
    background-repeat:no-repeat;
    background-image:url($url);
}*/

//сделать миксин для подсветки и очерданий рабочей зоны